[[extend 'layout.html']]

<style>
  [v-cloak] {display: none;}
  .hidden {display:none;}
  .outline-icon {
    text-shadow: 0px 0px 3px #219CEF;
    color: white;
  }
  .genshin-text {
    color: #86623F;
    font-family: 'Marko One', sans-serif;
    color: #85623F;
    margin-bottom: 2rem;
    font-size: 48px;
  }
  .col {
    background-color: #A6D554;
    margin-right: 1rem;
  }
  .incomplete {
    background-color: grey;
  }
</style>


<div class="section" id="vue-target" v-cloak>
  <div style="display:flex; background-color: #EEE6DD;">
    <h1 class="title">BP Level 9</h1>
    <div style="margin: 1rem 0 0 2rem;">
      <p>BEP {{bp_xp}}/1000</p>
      <progress id="file" max="100" :value="bp_progress" style="height: 2rem; width: 50rem;"></progress>
    </div>

  </div>
  <h1 class="title">Main Tasks {{done_tasks}}/{{total_tasks}}</h1>
  <div class="container block">
    <a style="margin-bottom: 1.5rem;" class="button is-success" href="[[=URL('add')]]">
      <span class="icon"><i class="fa fa-plus"></i></span>
      <span>Add Tasks</span>
    </a>

    <div v-for="r in rows" class="box" style="background-color: #F5F5F5; position: relative;">
      <p style="font-size: 20px">{{r.task_title}}</p>
      <!-- v-if="r.task_img == 'img/default_task.png'" -->
      <!-- <img v-if="r.thumbnail" width="50" :src="r.thumbnail" /> -->
      <div style="display:flex">
        <img v-bind:src="r.task_img" style="width: 200px">
        <div class="control" style="margin: 1rem 2rem 0 1rem;">
          <div class="file is-info">
            <label class="file-label">
              <input class="file-input" type="file"
                 accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"
                 @change="upload_file($event, r._idx)">
              <span class="file-cta">
                <span class="file-label">
                  <span><i class="fa fa-upload"></i></span>
                </span>
              </span>
            </label>
          </div>
        </div>
        <!-- Difficulty Rating-->
        <div style="margin-right: 0.5rem;">
          <p>Difficulty</p>
          <span @mouseout="stars_out(r._idx)">
            <span @mouseover="stars_over(r._idx, star_idx)"
                  @click="set_difficulty(r._idx, star_idx)"
                  v-for="star_idx in [1, 2, 3, 4, 5]">
              <i v-if="star_idx <= r.stars_display" class="fa fa-star"></i>
              <i v-if="star_idx > r.stars_display" class="fa fa-star-o"></i>
            </span>
          </span>
          <div><p>Rated by Shuai</p></div>
        </div>
        <div style="margin-left: auto; display: flex;">
          <!-- If score, etc.-->
          <img width="50" src="img/225.png" style="height: 50px !important; margin-right: 0.5rem;"/>
          <div>
            <button @click="delete_task(r._idx)" class="button is-danger" style="position: absolute; top:0.5rem;">
                <i class="fa fa-trash"></i>
            </button>
          </div>
          <div @click="set_task(r._idx, r.task_done)" >
            <i class="fa fa-3x" style="color:green"
            :class="{'fa-check-square': r.task_done == 1,
                'fa-square': r.task_done != 1,}">
            </i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Removed highlights -->
[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let load_tasks_url = "[[=XML(load_tasks_url)]]";
  let set_task_url = "[[=XML(set_task_url)]]";
  let delete_task_url = "[[=XML(delete_task_url)]]";

  let set_difficulty_url = "[[=XML(set_difficulty_url)]]";
  let get_diff_raters_url = "[[=XML(get_diff_raters_url)]]";

  let upload_thumbnail_url = "[[=XML(upload_thumbnail_url)]]";

  let view_task_id = "[[=XML(view_task_id)]]";
</script>
<script src="js/index.js"></script>
[[end]]
