<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="[[=URL('static')]]/">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../static/img/bp_icon.png"/>
    <link rel="stylesheet" href="css/bulma.css">
    <title>Final Project</title>
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">

    <!-- Theme CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../static/css/index.css" rel="stylesheet">
    [[block page_head]]<!-- individual pages can customize header here -->[[end]]
  </head>
  <body style="cursor: url('../static/img/cursor.png'), auto;">
    <!-- Navigation bar -->
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="[[=URL('index')]]">
          Gamified Task List
          <img style="margin-left: 0.5rem;" class="logo" src="../static/img/bp_icon.png">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="the-navbar-menu"
           onclick="this.classList.toggle('is-active');document.getElementById(this.dataset.target).classList.toggle('is-active');">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="the-navbar-menu" class="navbar-menu">
        <div class="navbar-start">
          [[block page_menu_items]]<!-- individual pages can add menu items here -->[[end]]
        </div>
        [[if globals().get('user'):]]
          <div class="navbar-item" style="color: white;">
            <p style="margin-bottom: 0;">[[=globals().get('user').get('email')]] - UID: [[=globals().get('user').get('id')]]</p>
          </div>
          [[pass]]
          <div class="navbar-item">
            <div class="buttons">
              [[if globals().get('user'):]]
              <a class="button is-light" href="[[=URL('auth/logout')]]">Sign out</a>
              [[else:]]
              <a class="button is-link" href="[[=URL('auth/plugin/oauth2google/login', vars=dict(next=URL('index')))]]">Sign In</a>
              [[pass]]
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- beginning of HTML inserted by extending template -->
    [[include]]
    <!-- end of HTML inserted by extending template -->
    <footer class="footer">
      <div class="content has-text-centered">
        Made with <a href="#">py4web</a>.
        <!-- <a href="https://learn-py4web.github.io">Learn py4web!</a> -->
      </div>
    </footer>
  </body>
  <script src="js/sugar.min.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/utils.js"></script>
  [[block page_scripts]]<!-- individual pages can add scripts here -->[[end]]
</html>
